@import url(./lib/fontawsome/all.css);
@import url(./lib/slick/slick-theme.css);
@import url(./lib/slick/slick.css);
/*
Create date: 20/04/2020
Design by Canvilled.
*/
/*-----======Setup Color And Text======------*/
:root {
  --primary-bg-color: #141414;
  --secondary-bg-color:#fff;
  --primary-color: #141414;
  --secondary-color:#000;
  --title-section-size:36px;
  --title-item-size:20px;
  --primary-padding: 10px;
  --secondary-padding: 20px;
}

/*-----======Setup Color And Text======------*/
/*-----=======Setup Font and main CSS======-----*/
@font-face {
  font-family: Exo;
  src: url("../fonts/Exo.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #141414;
  font-family: Exo;
  overflow-x: hidden;
}

.wrapper.active {
  overflow: hidden;
}

::selection {
  background-color: var(--primary-bg-color);
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-bg-color);
}

img {
  width: 100%;
  height: auto;
}

.page__content img {
  margin: 20px 0px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container--read {
  max-width: 1300px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  background: transparent;
  outline-color: transparent;
  transition: all 0.5s;
}

.range--slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range--slider:hover {
  opacity: 1;
}

.range--slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: var(--primary-bg-color);
  cursor: pointer;
}

.range--slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-bg-color);
  cursor: pointer;
}

.newspaper__more-btn:hover {
  color: #fff !important;
  background: var(--primary-bg-color);
}

.btn--submit {
  background: #fff;
  color: var(--primary-color);
  border: 1.5px solid;
  background: #fff;
  color: var(--primary-color);
  border: 1.5px solid;
  padding: 5px 10px;
  height: 40px;
  align-self: center;
}

.btn--submit:hover {
  color: #fff !important;
  background: var(--primary-bg-color) !important;
}

.logo {
  width: 190px;
}

.icon {
  font-size: 30px;
  padding-right: 8px;
}

.icon--text {
  font-size: 30px;
}

.icon--img {
  width: 20px;
  display: inline-block;
}

.icon--img-svg {
  width: 8px;
}

/*---Row---*/
.row-divide {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row-flex-start {
  justify-content: flex-start;
}

.align--self--center {
  align-self: center;
}

.divide--5-col {
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
}

.col-divide-1 {
  flex: 0 0 7%;
  max-width: 7%;
  width: 100%;
}

.col-divide-2 {
  flex: 0 0 14%;
  max-width: 14%;
  width: 100%;
}

.col-divide-3 {
  flex: 0 0 25%;
  max-width: 23%;
  width: 100%;
}

.col-divide-4 {
  flex: 0 0 33.33%;
  max-width: 32%;
  width: 100%;
}

.col-divide-5 {
  flex: 0 0 42%;
  max-width: 42%;
  width: 100%;
}

.col-divide-6 {
  flex: 0 0 50%;
  max-width: 48%;
  width: 100%;
}

.col-divide-7 {
  flex: 0 0 57%;
  max-width: 57%;
  width: 100%;
}

.col-divide-8 {
  flex: 0 0 65%;
  max-width: 65%;
  width: 100%;
}

.col-divide-9 {
  flex: 0 0 73%;
  max-width: 73%;
  width: 100%;
}

.col-divide-10 {
  flex: 0 0 81%;
  max-width: 81%;
  width: 100%;
}

.col-divide-11 {
  flex: 0 0 90%;
  max-width: 90%;
  width: 100%;
}

.col-divide-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.col-divide-mutan-5 {
  flex: 0 0 19.5%;
  max-width: 19.5%;
  width: 100%;
}

/*---Row---*/
.rotate--90 {
  transform: rotate(90deg);
}

.w--90 {
  width: 80%;
}

/*---Background---*/
.main--background {
  background: var(--primary-bg-color) !important;
}

.primary--background {
  background: #0b54ba12;
}

.secondary-background {
  background: #fff5e18f;
}

.text--light {
  color: #fff !important;
}

.text--dark {
  color: #333 !important;
}

.text--primary {
  color: var(--primary-color) !important;
}

.text--yellow {
  color: #e0d717 !important;
}

.font--weight--600 {
  font-weight: 600;
}

/*---Background---*/
.tag {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.tag.sale {
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  border-radius: 200px;
  background: #c40000;
  right: unset;
  font-size: 16px;
}

.tag.sold {
  top: unset;
  bottom: 10px;
  right: 10px;
}

.line--through {
  text-decoration: line-through;
}

.home .slick-list.draggable {
  padding-bottom: 5px;
}

/*---Position---*/
.position--relative {
  position: relative;
}

/*---Position---*/
/*---Center---*/
.center--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---Center---*/
/*---Title and paragraph---*/
.title--section {
  font-size: var(--title-section-size);
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 5px;
}

.title--item {
  font-size: var(--title-item-size);
  font-weight: 600;
  margin: 1px 0px;
}

.text--center {
  text-align: center;
}

.text--justify {
  text-align: justify;
}

.text--right {
  text-align: right;
}

.text--italic {
  font-style: italic;
}

/*border radius*/
.border--1 {
  border-radius: 8px;
}

.border--2 {
  border-radius: 13px;
}

.border--3 {
  border-radius: 17px;
}

.border--50 {
  border-radius: 50%;
}

.border--right-15 {
  border-right: 1.5px solid;
}

/*border radius*/
.box-shadow {
  box-shadow: 4px 2px 7px 3px #80808045;
}

.border-left {
  padding-left: 25px;
  border-left: 3px solid var(--primary-color);
}

.text--upcase {
  text-transform: uppercase;
}

.d--block {
  display: block;
}

.d--flex {
  display: flex;
  align-items: center;
}

.justify--content--end {
  justify-content: flex-end;
}

.d--none {
  display: none;
}

p {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333;
  transition: all 0.6s;
}

a:hover {
  color: var(--primary-color);
}

/*---Title---*/
/*---Back to top---*/
#buttonBackToTop {
  display: inline-block;
  background-color: #4c8a399c;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 4px #4c8a3957;
}

#buttonBackToTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 45px;
  color: #ffffff80;
}

#buttonBackToTop:hover {
  cursor: pointer;
  background-color: var(--primary-bg-color);
}

#buttonBackToTop:hover:after {
  color: #fff;
}

#buttonBackToTop:active {
  background-color: #555;
}

#buttonBackToTop.show {
  opacity: 1;
  visibility: visible;
}

/*---Back to top---*/
/*---Modal---*/
/* The Modal (background) */
.Form__modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal--content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  box-shadow: 4px 2px 7px 3px #80808045;
  width: 80%;
}

.close {
  color: var(--primary-bg-color);
  display: block;
  text-align: right;
  font-size: 40px;
  line-height: 30px;
  font-weight: 600;
  transition: all .25s linear;
}

.close:hover,
.close:focus {
  color: #ce0000;
  text-decoration: none;
  cursor: pointer;
}

/*---Modal---*/
/*---padding and margin---*/
.py-40 {
  padding: 40px 0px;
}

.py-30 {
  padding: 30px 0px;
}

.py-15 {
  padding: 20px 0px;
}

.p-20 {
  padding: 20px;
}

.p-12 {
  padding: 12px;
}

.py-12 {
  padding: 12px 0px;
}

.px-30 {
  padding: 0px 30px;
}

.mx-5 {
  margin: 0px 5px;
}

.mxr-5 {
  margin-right: 5px;
}

.mxr-15 {
  margin-right: 15px;
}

.mxl-15 {
  margin-left: 15px;
}

.py-65-px-30 {
  padding: 65px 30px;
}

.mx-15 {
  margin: 0px 15px;
}

.mx-35 {
  margin: 0px 35px;
}

.my-6 {
  margin: 6px 0px;
}

.my-12 {
  margin: 12px 0px;
}

.my-20 {
  margin: 20px 0px;
}

.my-40 {
  margin: 40px 0px;
}

.my-60 {
  margin: 60px 0px;
}

.myt-20 {
  margin-top: 20px;
}

.myt-50 {
  margin-top: 50px;
}

.mr-auto {
  margin: auto;
}

/*---padding and margin---*/
/*---Width & Height---*/
.height--100 {
  height: 100%;
}

.width--60 {
  width: 60%;
}

/*---Width & Height---*/
/*---expanded---*/
.shorted {
  max-height: 450px;
  overflow: hidden;
}

.expand {
  max-height: none;
  overflow: none;
}

@media screen and (max-width: 1700px) {
  /*Row and divide*/
  .col-divide-lg-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-lg-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-lg-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-lg-3 {
    flex: auto;
    max-width: 24%;
  }
  .dlg--none {
    display: none;
  }
  /*Row and divide*/
}

@media screen and (max-width: 1281px) {
  .col-divide-3 {
    max-width: 22.5%;
  }
}

/*---expanded---*/
@media screen and (max-width: 1024px) {
  .main_menu.main_menu_hide_on_mobile {
    display: none;
  }
  .container {
    max-width: 90%;
  }
  .container--read {
    max-width: 90%;
  }
  figure {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  /*Setup*/
  body {
    font-size: 18px;
  }
  .divide--5-col {
    flex: auto;
    max-width: 100%;
  }
  /*Row and divide*/
  .col-divide-md-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-md-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-md-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-md-3 {
    flex: auto;
    max-width: 24%;
  }
  .title--section {
    font-size: 30px;
    margin: 22px 0px;
  }
  /*Row and divide*/
  .dp--none {
    display: none;
  }
  .dp--block {
    display: block;
  }
  .dt--block {
    display: block;
  }
  /*Setup*/
  .border--right-p-0 {
    border-right: 0px solid;
  }
}

@media screen and (max-width: 438px) {
  /*Setup*/
  .title--section {
    font-size: 25px;
    margin: 22px 0px;
  }
  .title--item {
    font-size: 22px;
  }
  /*Row and divide*/
  .col-divide-sm-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-sm-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-sm-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-sm-3 {
    flex: auto;
    max-width: 24%;
  }
  /*Row and divide*/
  .dp--none {
    display: none;
  }
  .icon--text {
    font-size: 25px;
  }
  /*Setup*/
}

.topmenu {
  background: var(--primary-bg-color);
}

.topmenu .topmenu__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topmenu .topmenu__contain .topmenu__item .topmenu__content {
  font-size: 14px;
  padding: 15px 0px;
}

@media screen and (max-width: 1281px) {
  .topmenu .topmenu__contain .topmenu__item .topmenu__content {
    font-size: 12px;
  }
}

.topmenu .topmenu__contain .topmenu__item .menu-menu-top-container #menu-menu-top li.menu-item {
  display: inline-block;
  border-right: 1px solid #b2b2b2;
}

.topmenu .topmenu__contain .topmenu__item .menu-menu-top-container #menu-menu-top li.menu-item a {
  padding: 15px;
  display: block;
  color: #b2b2b2;
  opacity: 0.9;
  transition: all 0.25s linear;
  font-size: 14px;
}

.topmenu .topmenu__contain .topmenu__item .menu-menu-top-container #menu-menu-top li.menu-item a:hover {
  opacity: 1;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .topmenu .topmenu__contain .topmenu__item .menu-menu-top-container #menu-menu-top li.menu-item a {
    font-size: 13px;
    padding: 8px 4px;
  }
}

.topmenu .topmenu__contain .topmenu__item .menu-menu-top-container #menu-menu-top li.menu-item:last-child {
  border-right: unset;
}

.header .header__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header .header__contain .header__item .menu-main-menu-container .menu {
  list-style: none;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item {
  display: inline-block;
  position: relative;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item a {
  text-transform: uppercase;
  padding: 15px 8px;
  display: block;
  font-weight: 900;
  font-size: 15px;
  transform: scale(1);
  transition: all 0.25s linear;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primary-bg-color);
  transition: all .25s linear;
}

@media screen and (max-width: 1281px) {
  .header .header__contain .header__item .menu-main-menu-container .menu .menu-item a {
    font-size: 14px;
    padding: 12px;
  }
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item a:hover {
  transform: scale(1.1);
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item a:hover:after {
  width: 100%;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item > .sub-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 44px;
  background: #fff;
  left: 16px;
  width: 200px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.25s linear;
  z-index: 10000;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item > .sub-menu .menu-item {
  display: block;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item > .sub-menu .menu-item > .sub-menu {
  display: none;
  opacity: 0;
  top: 0;
  left: 180px;
  transition: all 0.25s linear;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item > .sub-menu .menu-item:hover > .sub-menu {
  display: block;
  opacity: 1;
}

.header .header__contain .header__item .menu-main-menu-container .menu .menu-item:hover > .sub-menu {
  display: block;
  opacity: 1;
}

.header .header__contain .header__item .header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 1px 0 0 #ccc, inset -1px 0 0 0 #ccc, inset 0 -1px 0 0 #ccc, inset 1px 0 0 0 #ccc;
  width: 200px;
}

.header .header__contain .header__item .header__search label {
  padding: 10px;
  color: #7e7b7b;
  transition: all 0.25s linear;
  font-size: 25px;
}

.header .header__contain .header__item .header__search .input {
  width: 100%;
  height: 55px;
  border: none;
  margin-left: 15px;
  margin-right: 5px;
  outline-color: transparent;
  font-size: 17px;
}

.header .header__contain .header__item .header__search:hover label {
  color: var(--primary-color);
}

.navbar {
  position: absolute;
  background: #141414;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: -100%;
  justify-content: flex-end;
  transition: all 0.25s linear;
  z-index: 1000;
}

.navbar .navbar__contain {
  width: 90%;
}

.navbar .navbar__contain .navbar__item:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 20px 0px;
}

.navbar .navbar__contain .navbar__item:nth-child(1) .navbar__item-btn {
  margin-right: 15px;
}

.navbar .navbar__contain .navbar__item .menu-mobile-menu-container {
  margin-left: 25px;
}

.navbar .navbar__contain .navbar__item .menu-mobile-menu-container .menu {
  list-style: none;
}

.navbar .navbar__contain .navbar__item .menu-mobile-menu-container .menu .menu-item a {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0px;
  display: block;
  border-bottom: 1px solid #fff;
  font-size: 15px;
}

.navbar .navbar__contain .navbar__item .menu-mobile-menu-container .menu .menu-item .sub-menu {
  display: none;
}

.navbar.active {
  left: 0;
}

.lastest .lastest__contain {
  position: relative;
}

.lastest .lastest__contain .lastest__title {
  font-weight: 900;
  display: block;
  width: max-content;
  margin: 30px auto;
}

.lastest .lastest__contain .lastest__title::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: var(--primary-bg-color);
}

.lastest .lastest__contain .lastest__list .lastest__item {
  box-shadow: 0px 1px 1px 1px #1414144a;
  margin: 10px;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img {
  position: relative;
  max-height: 390px;
  overflow: hidden;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img img {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s linear;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config .btn {
  padding: 10px 15px;
  margin: 10px 5px;
  box-shadow: 1px 2px 1px 0px #141414;
  color: var(--primary-color);
  background: #fff;
  transition: all 0.25s linear;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config .btn:hover, .lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config .btn:focus {
  box-shadow: inset 1px 2px 1px 0px #141414;
  background: var(--primary-bg-color);
  color: #fff;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config .btn#viewQuick:hover, .lastest .lastest__contain .lastest__list .lastest__item .lastest__item-img .lastest__config .btn#viewQuick:focus {
  background: #c40000;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-title {
  padding: 20px 20px 5px 20px;
  text-align: center;
  min-height: 85px;
}

.lastest .lastest__contain .lastest__list .lastest__item .lastest__item-price {
  text-align: center;
  font-weight: 500;
  padding: 5px 20px 20px 20px;
  font-size: 18px;
}

.lastest .lastest__contain .lastest__list .lastest__item:hover {
  box-shadow: 0px 1px 11px 1px #14141459;
}

.lastest .lastest__contain .lastest__list .lastest__item:hover .lastest__item-img img {
  opacity: 0.85;
  transform: scale(1.1);
}

.lastest .lastest__contain .lastest__list .lastest__item:hover .lastest__item-img .lastest__config {
  display: flex;
}

.lastest .lastest__contain .lastest__btn {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
  transition: all 0.25s linear;
}

.lastest .lastest__contain .lastest__btn .btn {
  padding: 10px 15px;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.25s linear;
  font-weight: 700;
}

.lastest .lastest__contain .lastest__btn .btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-bg-color);
  transition: all 0.25s linear;
}

.lastest .lastest__contain .lastest__btn .btn:hover {
  transform: scale(1.1);
}

.lastest .lastest__contain .lastest__btn .btn:hover::after {
  width: 100%;
}

.lastest .lastest__contain .lastest__btn:hover {
  right: 0;
}

@media screen and (max-width: 992px) {
  .lastest .lastest__contain .lastest__btn {
    position: unset;
    text-align: right;
  }
}

.fs-14 {
  font-size: 14px;
}

.newspaper .mc--hometitle {
  font-weight: 900;
  display: block;
  width: max-content;
  margin: 30px auto;
}

.newspaper .mc--hometitle::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: var(--primary-bg-color);
}

.newspaper .newspaper_content {
  padding: 15px;
}

.newspaper .newspaper_content .newspaper_content-image {
  overflow: hidden;
}

.newspaper .newspaper_content .newspaper_content-image img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.newspaper .newspaper_content .newspaper_content-title {
  margin-top: 12px;
}

.newspaper .newspaper_content .newspaper_content-title a {
  font-size: 21px;
  font-weight: 700;
}

.newspaper .newspaper_content .newspaper_content-title a:hover {
  color: #0f6ecd;
}

.newspaper .newspaper_content .newspaper_content-date {
  margin: 6px 0 6px 0;
}

.newspaper .newspaper_content .newspaper_content-date i {
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .privacy {
    height: 450px;
  }
  .privacy > img {
    object-fit: cover;
    height: 450px;
  }
}

.breadcrumbs {
  padding: 35px 0;
  background: #efefef;
  margin-bottom: 80px;
}

.breadcrumbs .breadcrumb_last {
  margin-right: 3px;
  padding-right: 13px;
  color: #ff4545;
}

.pagination_steal {
  margin: 30px 0px;
}

.pagination_steal .navigation.pagination .screen-reader-text {
  display: none;
}

.pagination_steal .navigation.pagination .nav-links {
  text-align: center;
}

.pagination_steal .navigation.pagination .nav-links .page-numbers {
  padding: 8px 15px;
  border: 1px solid var(--primary-bg-color);
  background: #fff;
  color: var(--primary-color);
  display: inline-block;
}

.pagination_steal .navigation.pagination .nav-links .page-numbers.current {
  background: var(--primary-bg-color);
  color: #fff;
}

.pagination_steal .navigation.pagination .nav-links .page-numbers:hover {
  background: var(--primary-bg-color);
  color: #fff;
}

.mg-bt-10 {
  margin-bottom: 10px;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.page__contact .ss-authentic {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.page__contact .contact_information .mc-dot-style {
  margin-left: 4px;
}

.page__contact .contact_information .mc-dot-style-two {
  margin-left: 11px;
}

.page__contact .contact_information span {
  font-size: 18px;
}

.page__contact .form_infor_contact {
  margin-top: 20px;
}

.page__contact .form_infor_contact p {
  font-size: 13px;
  padding: 0 0 0 3px;
}

.page__contact .form_infor_contact input {
  width: 90%;
  padding: 12px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.page__contact .form_infor_contact textarea {
  width: 91.5%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.page__contact .btn_formcontact {
  margin-top: 10px;
}

.page__contact .btn_formcontact .mc-style-btn-contact {
  border: none;
  background: #000;
  padding: 12px 30px;
  color: #fff;
  font-weight: 700;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s;
}

.page__contact .btn_formcontact .mc-style-btn-contact:hover {
  background: #fff;
  color: #000;
  border: 1px solid black;
}

.category_page .category_title a {
  color: #0f6ecd;
  font-size: 16px;
  font-weight: 700;
}

.category_page .category_title a:hover {
  color: #6dbdfd;
}

.category_page .category_excerpt {
  font-size: 14px;
  margin-bottom: 10px;
}

.category_page .col-divide-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.category_page .pl-20 {
  padding-left: 20px;
}

.category_page .category_image {
  overflow: hidden;
}

.category_page .category_image img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.category_page .category_date {
  font-size: 14px;
  margin: 5px 0;
  color: #ef1100d1;
}

.category_page .category_date i {
  margin-right: 5px;
}

.category_page .readmore_category {
  padding: 5px 15px;
  background: black;
  color: #fff;
  font-size: 14px;
  border: 1px solid black;
}

.category_page .readmore_category:hover {
  color: #000;
  background: #fff;
}

.category_page .pagination_steal {
  margin: 20px 0 40px 0;
  text-align: center;
}

.category_page .pagination_steal .screen-reader-text {
  display: none;
}

.category_page .pagination_steal .nav-links .page-numbers {
  margin-right: 10px;
  font-weight: 700;
}

.category_page .pagination_steal .nav-links .page-numbers:hover {
  color: #0f6ecd;
  transform: scale(1.4);
  display: inline-block;
  transition: all 1s;
}

.category_page .pagination_steal .nav-links .current {
  color: #0f6ecd;
}

.category_page .pagination_steal .nav-links a {
  color: #000;
}

.category_page .infor_shop .image_shop {
  text-align: center;
}

.category_page .infor_shop .image_shop img {
  width: 75%;
}

.category_page .infor_shop .steal-au {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.category_page .infor_shop .sidebar-infor {
  font-size: 14px;
  margin-bottom: 20px;
}

.category_page .infor_shop .embed-face {
  text-align: center;
}

.category_page .news_post {
  margin-top: 20px;
}

.category_page .news_post .title-nb {
  padding-left: 5px;
  margin-bottom: 23px;
}

.category_page .news_post .title-nb a {
  font-size: 13px;
  font-weight: 700;
}

.title-sidebar_style {
  position: relative;
  height: 29px;
  margin-bottom: 20px;
}

.title-sidebar_style .mc-title-sidebar {
  z-index: 100;
  width: max-content;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-sidebar_style .space-title-sidebar {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 49%;
  transform: translate(0%, -49%);
}

.single_page .single_title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.single_page .row-divide {
  justify-content: space-between;
}

.single_page .image_shop .logo {
  width: 250px;
}

.single_page .category_date {
  font-size: 14px;
  margin: 1px 0;
  color: #ef1100d1;
}

.single_page .category_date i {
  margin-right: 5px;
}

.single_page .readmore_category {
  padding: 5px 15px;
  background: black;
  color: #fff;
  font-size: 14px;
  border: 1px solid black;
}

.single_page .readmore_category:hover {
  color: #000;
  background: #fff;
}

.single_page .tt-single-news a {
  font-size: 17px;
  font-weight: 600;
}

.single_page .category_excerpt {
  font-size: 14px;
  margin-bottom: 10px;
}

.mc-mgb-20 {
  margin-bottom: 20px;
}

.product__list .product__item {
  box-shadow: 0px 1px 1px 1px #1414144a;
  margin: 5px 10px;
}

.product__list .product__item .product__item-img {
  position: relative;
  max-height: 390px;
  overflow: hidden;
}

.product__list .product__item .product__item-img img {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s linear;
}

.product__list .product__item .product__item-img .lastest__config {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.product__list .product__item .product__item-img .lastest__config .btn {
  padding: 10px 15px;
  margin: 10px 5px;
  box-shadow: 1px 2px 1px 0px #141414;
  color: var(--primary-color);
  background: #fff;
  transition: all 0.25s linear;
}

.product__list .product__item .product__item-img .lastest__config .btn:hover, .product__list .product__item .product__item-img .lastest__config .btn:focus {
  box-shadow: inset 1px 2px 1px 0px #141414;
  background: var(--primary-bg-color);
  color: #fff;
}

.product__list .product__item .product__item-img .lastest__config .btn#viewQuick:hover, .product__list .product__item .product__item-img .lastest__config .btn#viewQuick:focus {
  background: #c40000;
}

.product__list .product__item .product__item-title {
  padding: 20px 20px 5px 20px;
  text-align: center;
  min-height: 85px;
}

.product__list .product__item .product__item-price {
  text-align: center;
  font-weight: 500;
  padding: 5px 20px 20px 20px;
  font-size: 18px;
}

.product__list .product__item:hover {
  box-shadow: 0px 1px 11px 1px #14141459;
}

.product__list .product__item:hover .product__item-img img {
  opacity: 0.85;
  transform: scale(1.1);
}

.product__list .product__item:hover .product__item-img .lastest__config {
  display: flex;
}

.taxonomy_page .product__filter {
  margin-bottom: 55px;
}

.taxonomy_page .product__filter .product__filter-title {
  background: #f6f6f6;
}

.taxonomy_page .product__filter .product__filter-title button {
  background: #3f3f3f;
  border-radius: 0px;
  transition: all 0.25s linear;
  padding: 8px 11px;
}

.taxonomy_page .product__filter .product__filter-title button span {
  font-size: 18px;
}

.taxonomy_page .product__filter .product__filter-title::after {
  content: "";
  display: block;
  background: #3f3f3f;
  height: 3px;
  width: 100%;
}

.taxonomy_page .product__filter-list {
  padding: 0px 15px;
  background: #f6f6f6;
  height: 0px;
  overflow: hidden;
  transition: all 0.25s linear;
}

.taxonomy_page .product__filter-list .product__filter-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.taxonomy_page .product__filter-list .product__filter-item .title--item {
  color: #ff4545;
  font-size: 17px;
}

.taxonomy_page .product__filter-list .product__filter-item .filter__form-item input {
  display: none;
}

.taxonomy_page .product__filter-list .product__filter-item .filter__form-item label {
  display: block;
  padding: 5px 10px;
  background: var(--primary-bg-color);
  margin: 8px;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s linear;
}

.taxonomy_page .product__filter-list .product__filter-item .filter__form-item label.active {
  background: #ff4545;
}

.taxonomy_page .product__filter-list .product__filter-item .filter__form-item label:hover {
  background: #ff4545;
}

.taxonomy_page .product__filter-list .product__filter-item.form--slider {
  display: flex;
  justify-content: flex-end;
}

.taxonomy_page .product__filter-list .product__filter-item.form--slider .slidecontainer {
  width: 50%;
  margin-right: 90px;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .taxonomy_page .product__filter-list .product__filter-item.form--slider .slidecontainer {
    width: 90%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .taxonomy_page .product__filter-list .product__filter-item {
    padding: 10px;
  }
}

.taxonomy_page .product__filter-list.active {
  padding: 20px 15px;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .taxonomy_page .product__filter-list.active {
    padding: 0px;
  }
}

.single_page .container {
  max-width: 70%;
}

.single_page .container .col-divide-8 img {
  width: auto;
  margin: 10px;
  display: inline;
  max-width: 800px;
  height: auto;
}

@media screen and (max-width: 576px) {
  .single_page .container .col-divide-8 img {
    margin: 10px;
    display: inline;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .single_page .container .col-divide-8 h3 {
    font-size: 16px;
  }
  .single_page .container .col-divide-8 p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1281px) {
  .single_page .container {
    max-width: 80%;
  }
  .single_page .container img {
    margin: 10px;
    display: inline;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
  }
}

.footer .footer__main {
  padding: 60px 0px;
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__logo {
  margin-bottom: 20px;
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__item-des {
  margin-bottom: 10px;
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__item-des:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background: #fff;
}

@media screen and (max-width: 1281px) {
  .footer .footer__main .footer__container .footer__list .footer__item .footer__item-des {
    font-size: 15px;
  }
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__item-title {
  margin-bottom: 5px;
}

@media screen and (max-width: 576px) {
  .footer .footer__main .footer__container .footer__list .footer__item .footer__item-title {
    font-size: 22px;
  }
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__item-contact div {
  margin-bottom: 5px;
}

@media screen and (max-width: 1281px) {
  .footer .footer__main .footer__container .footer__list .footer__item .footer__item-contact div p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer__main .footer__container .footer__list .footer__item .footer__item-contact div {
    font-weight: 400;
  }
}

.footer .footer__main .footer__container .footer__list .footer__item h2.title--item {
  margin-bottom: 10px;
  font-size: 15.5px;
}

.footer .footer__main .footer__container .footer__list .footer__item h2.title--item:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background: #fff;
}

@media screen and (max-width: 1281px) {
  .footer .footer__main .footer__container .footer__list .footer__item h2.title--item {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer__main .footer__container .footer__list .footer__item h2.title--item {
    margin-top: 15px;
  }
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__pivacy-list a {
  margin-bottom: 5px;
  transform: scale(1);
  transition: all 0.25s linear;
  font-size: 13px;
}

.footer .footer__main .footer__container .footer__list .footer__item .footer__pivacy-list a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1281px) {
  .footer .footer__main .footer__container .footer__list .footer__item .footer__pivacy-list a {
    margin-top: 12px;
  }
}

.footer .footer__main .social__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer .footer__sub {
  background: #000000de;
  padding: 10px 0px;
}

.footer .footer__sub p {
  color: #808080;
}

/*# sourceMappingURL=globals.css.map */