.single_page{
  .container{
    max-width: 70%;
    .col-divide-8{
      img{
        width: auto;
        margin: 10px;
        display: inline;
        max-width: 800px;
      }
    }
    @include MediaQuery($lg){
      max-width: 80%;
    }
  }
}
