.single_page{
  .container{
    max-width: 70%;
    .col-divide-8{
      img{
        width: auto;
        margin: 10px;
        display: inline;
        max-width: 800px;
        height: auto;
      }
      @include MediaQuery($xs){
        img{
          margin: 10px;
          display: inline;
          max-width: 100%;
          height: auto;
          box-sizing: border-box;
          vertical-align: middle;
        }
      }
    }
    @include MediaQuery($lg){
      max-width: 80%;
      img{
        margin: 10px;
        display: inline;
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
        vertical-align: middle;
      }
    }
  }
}
