.taxonomy_page{
  .product__filter{
    .product__filter-title{
      background: #f6f6f6;
      button{
        background: #3f3f3f;
        border-radius: 0px;
        transition: all 0.25s linear;
        padding: 8px 11px;
        span{
          font-size: 18px;
        }
      }
      &::after{
        content: "";
        display: block;
        background: #3f3f3f;
        height: 3px;
        width: 100%;
      }
    }
    margin-bottom: 55px;
  }
  .product__filter-list{
    padding: 0px 15px;
    background: #f6f6f6;
    height: 0px;
    overflow: hidden;
    transition: all 0.25s linear;
    .product__filter-item{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 20px;
      .title--item{
        color:#ff4545;
        font-size: 17px
      }
      .filter__form-item{
        input{
          display: none;
        }
        label{
          display: block;
          padding: 5px 10px;
          background: var(--primary-bg-color);
          margin: 8px;
          color: #fff;
          border-radius: 20px;
          font-size: 15px;
          cursor: pointer;
          transition: all 0.25s linear;
          &.active{
            background: #ff4545;
          }
          &:hover{
            background: #ff4545;
          }
        }
      }
      &.form--slider{
        display: flex;
        justify-content: flex-end;
        .slidecontainer{
          width: 50%;
          margin-right: 90px;
          margin-bottom: 15px;
          @include MediaQuery($md){
            width: 90%;
            margin-right: 20px;
            margin-bottom: 20px;
          }
        }
      }
      @include MediaQuery($md){
        padding: 10px;
      }
    }
    &.active{
      padding: 20px 15px;
      height: 100%;
      @include MediaQuery($md){
        padding: 0px;
      }
    }
  }
}
