.footer{
  .footer__main{
    padding: 60px 0px;
    .footer__container{
      .footer__list{
        .footer__item{
          .footer__logo{
            margin-bottom: 20px;
          }
          .footer__item-des{
            margin-bottom: 10px;
            &:after{
              content:"";
              display: block;
              width: 40px;
              height: 3px;
              margin-top: 10px;
              background: #fff;
            }
            @include MediaQuery($lg){
              font-size: 15px;
            };
          }
          .footer__item-title {
            margin-bottom: 5px;
            @include MediaQuery($xs){
              font-size: 22px;
            };
          }
          .footer__item-contact{
            div{
              margin-bottom: 5px;
              @include MediaQuery($lg){
                p{
                  font-size: 14px;
                }
              };
              @include MediaQuery($xs){
                font-weight: 400;
              };
            }
          }
          h2.title--item{
            margin-bottom: 10px;
            font-size: 15.5px;
            &:after{
              content:"";
              display: block;
              width: 40px  ;
              height: 3px;
              margin-top: 10px;
              background: #fff;
            }
            @include MediaQuery($lg){
              font-size: 14px;
            };
            @include MediaQuery($xs){
              margin-top: 15px;
            };
          }
          .footer__pivacy-list{
            a{
              margin-bottom: 5px;
              transform: scale(1);
              transition: all 0.25s linear;
              font-size: 13px;
              &:hover{
                transform: scale(1.1);
              }
              @include MediaQuery($lg){
                margin-top: 12px;
              };
            }
          }
        }
      }
    }
    .social__list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  .footer__sub{
    background: #000000de;
    padding: 10px 0px;
    p{
      color:#808080;
    }
  }
}
