.mg-bt-10{
    margin-bottom: 10px;
}
.mg-bt-20{
    margin-bottom: 20px;
}
.page__contact{
    .ss-authentic{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .contact_information{
        .mc-dot-style{
            margin-left: 4px;
        }
        .mc-dot-style-two{
            margin-left:11px;
        }
        span{
            font-size: 18px;
        }
    }
    .form_infor_contact{
        margin-top: 20px;
        p{
            font-size: 13px;
            padding: 0 0 0 3px;
        }
        input{
            width: 90%;
            padding: 12px 10px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }
        textarea{
            width: 91.5%;
            padding:10px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }
    }
    .btn_formcontact{
        margin-top: 10px;
        .mc-style-btn-contact{
            border: none;
            background: #000;
            padding: 12px 30px;
            color: #fff;
            font-weight: 700;
            border: 1px solid black;
            cursor: pointer;
            transition: all 0.5s;
        }
        .mc-style-btn-contact:hover{
            background: #fff;
            color: #000;
            border: 1px solid black;
        }
    }

}
.category_page{
    .category_title{
        a{
            color: #0f6ecd;
            font-size: 16px;
            font-weight: 700;
            &:hover{
                color: #6dbdfd;
            }
        }
    }
    .category_excerpt{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .col-divide-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .pl-20{
        padding-left: 20px;
    }
    .category_image{
        overflow: hidden;
        img:hover{
            transform: scale(1.2);
            transition: all 1s;
        }
    }
    .category_date{
        font-size: 14px;
        margin: 5px 0;
        color:#ef1100d1;
        i{
            margin-right: 5px;
        }
    }
    .readmore_category{
        padding: 5px 15px;
        background: black;
        color: #fff;
        font-size: 14px;
        border:1px solid black;
        &:hover{
            color:#000;
            background: #fff;
        }
    }
    .pagination_steal{
        margin: 20px 0 40px 0;
        text-align: center;
        .screen-reader-text{
            display:none;
        }
        .nav-links{
            .page-numbers{
                margin-right: 10px;
                font-weight: 700;
                &:hover{
                    color: #0f6ecd;
                    transform: scale(1.4);
                    display: inline-block;
                    transition: all 1s;
                }
            }
            .current{
                color: #0f6ecd;
            }
            a{
                color: #000;
            }
        }
    }

    .infor_shop{
        .image_shop{
            text-align: center;
            img{
                width: 75%;
            }
        }
        .steal-au{
            text-align: center;
            font-weight: 700;
            font-size: 18px;
        }
        .sidebar-infor{
            font-size: 14px;
            margin-bottom: 20px;
        }
        .embed-face{
            text-align: center;
        }
    }

    .news_post{
        margin-top: 20px;
        .title-nb{
            padding-left: 5px;
            margin-bottom: 23px;
            a{
                font-size: 13px;
                font-weight:700;
            }
        }
    }
}
.title-sidebar_style{
    position: relative;
    height: 29px;
    margin-bottom: 20px;
    .mc-title-sidebar{
        z-index: 100;
        width: max-content;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .space-title-sidebar{
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        top: 49%;
        transform: translate(0%, -49%);
    }
}
.single_page{
    .single_title{
        font-size: 26px;
        text-align: center;
        margin-bottom: 40px;
    }
    .row-divide{
        justify-content: space-between;
    }
    .image_shop .logo{
        width: 250px;
    }
    .category_date{
        font-size: 14px;
        margin:1px 0;
        color:#ef1100d1;
        i{
            margin-right: 5px;
        }
    }
    .readmore_category{
        padding: 5px 15px;
        background: black;
        color: #fff;
        font-size: 14px;
        border:1px solid black;
        &:hover{
            color:#000;
            background: #fff;
        }
    }
    .tt-single-news{
        a{
            font-size: 17px;
            font-weight: 600;
        }
    }
    .category_excerpt{
        font-size: 14px;
        margin-bottom: 10px;
    }
}
.mc-mgb-20{
    margin-bottom: 20px;
}
.single_product{
    .slider_product_big .image_product{
        border: 1px solid #cecaca;
    }
    .slider_product_small{
        margin-top: 15px;
        .slick-slide{
            opacity: 0.4;
        }
    }
    .slider_product_small .slick-slide.slick-current{
        opacity: 1;
    }

    .sg_product_title{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .product_price_sale{
        font-size: 26px;
        color: red;
        font-weight: 600;
    }
    .price_product{
        font-size: 26px;
        font-weight: 600;
    }
    .mc-sale{
        background: red;
        padding: 3px 12px;
        border-radius: 20px;
        height: max-content;
        margin-top: 15px;
        margin-left: 11px;
    }
    .option_sale_price{
        display: flex;
    }
    .mc_product_size{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .mc-title-size{
            width: 100%;
        }
    }
    .mc_product_size .filter__form-item input{
        display: none;
    }
    .mc_product_size .filter__form-item label{
        display: block;
        padding: 5px 10px;
        background: var(--primary-bg-color);
        margin: 8px;
        color: #fff;
        border-radius: 20px;
        font-size: 15px;
        cursor: pointer;
        transition: all .25s linear;
    }
    .mc_product_size .filter__form-item label.active{
        background: #ff4545;
    }
    .buy-btn button{
        border:1px solid #000000;
        color:#fff;
        background: black;
        &:hover{
            color:#000;
            background: #fff;
        }
    }
    .buy-btn{
        margin-top: 25px;
    }
    .content_single_prodct{

        margin-top: 90px;
        .style-bd-content{
            border:2px solid gray;
            background: #d2dde836;
            padding: 30px;
        }
        .content_single_prodct-title{
            font-size: 26px;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .content-ch{
            img{
                width: auto;
                margin: 0 auto;
                display: block;
            }
            ul{
              padding: 15px;
              margin-left: 21px;
            }
            a{
              overflow-wrap: break-word;
            }
            p{
              overflow-wrap: break-word;
            }
        }
    }
    .product_ch{
        margin-top: 90px;
    }

}
.mc-mgb-10{
    margin-bottom: 10px;
}
.mc-pdl-50{
    padding-left: 50px;
}
.mc-pdl-res-20{
  @include MediaQuery($xs){
    padding-left: 20px;
  };
}
