.mg-bt-10{
    margin-bottom: 10px;
}
.mg-bt-20{
    margin-bottom: 20px;
}
.page__contact{
    .ss-authentic{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .contact_information{
        .mc-dot-style{
            margin-left: 4px;
        }
        .mc-dot-style-two{
            margin-left:11px;
        }
        span{
            font-size: 18px;
        }
    }
    .form_infor_contact{
        margin-top: 20px;
        p{
            font-size: 13px;
            padding: 0 0 0 3px;
        }
        input{
            width: 90%;
            padding: 12px 10px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }
        textarea{
            width: 91.5%;
            padding:10px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }
    }
    .btn_formcontact{
        margin-top: 10px;
        .mc-style-btn-contact{
            border: none;
            background: #000;
            padding: 12px 30px;
            color: #fff;
            font-weight: 700;
            border: 1px solid black;
            cursor: pointer;
            transition: all 0.5s;
        }
        .mc-style-btn-contact:hover{
            background: #fff;
            color: #000;
            border: 1px solid black;
        }
    }
    
}
.category_page{
    .category_title{
        a{
            color: #0f6ecd;
            font-size: 16px;
            font-weight: 700;
            &:hover{
                color: #6dbdfd;
            }
        }
    }
    .category_excerpt{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .col-divide-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .pl-20{
        padding-left: 20px;
    }
    .category_image{
        overflow: hidden;
        img:hover{
            transform: scale(1.2);
            transition: all 1s;
        }
    }
    .category_date{
        font-size: 14px;
        margin: 5px 0;
        color:#ef1100d1;
        i{
            margin-right: 5px;
        }
    }
    .readmore_category{
        padding: 5px 15px;
        background: black;
        color: #fff;
        font-size: 14px;
        border:1px solid black;
        &:hover{
            color:#000;
            background: #fff;
        }
    }
    .pagination_steal{
        margin: 20px 0 40px 0;
        text-align: center;
        .screen-reader-text{
            display:none;
        }
        .nav-links{
            .page-numbers{
                margin-right: 10px;
                font-weight: 700;
                &:hover{
                    color: #0f6ecd;
                    transform: scale(1.4);
                    display: inline-block;
                    transition: all 1s;
                }
            }
            .current{
                color: #0f6ecd;
            }
            a{
                color: #000;
            }
        }
    }
    
    .infor_shop{
        .image_shop{
            text-align: center;
            img{
                width: 75%;
            }
        }
        .steal-au{
            text-align: center;
            font-weight: 700;
            font-size: 18px;
        }
        .sidebar-infor{
            font-size: 14px;
            margin-bottom: 20px;
        }
        .embed-face{
            text-align: center;
        }
    }
    
    .news_post{
        margin-top: 20px;
        .title-nb{
            padding-left: 5px;
            margin-bottom: 23px;
            a{
                font-size: 13px;
                font-weight:700;
            }
        }
    }
}
.title-sidebar_style{
    position: relative;
    height: 29px;
    margin-bottom: 20px;
    .mc-title-sidebar{
        z-index: 100;
        width: max-content;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .space-title-sidebar{
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        top: 49%;
        transform: translate(0%, -49%);
    }
}
.single_page{
    .single_title{
        font-size: 26px;
        text-align: center;
        margin-bottom: 40px;
    }
    .row-divide{
        justify-content: space-between;
    }
    .image_shop .logo{
        width: 250px;
    }
    .category_date{
        font-size: 14px;
        margin:1px 0;
        color:#ef1100d1;
        i{
            margin-right: 5px;
        }
    }
    .readmore_category{
        padding: 5px 15px;
        background: black;
        color: #fff;
        font-size: 14px;
        border:1px solid black;
        &:hover{
            color:#000;
            background: #fff;
        }
    }
    .tt-single-news{
        a{
            font-size: 17px;
            font-weight: 600;
        }
    }
    .category_excerpt{
        font-size: 14px;
        margin-bottom: 10px;
    }
}
.mc-mgb-20{
    margin-bottom: 20px;
}