.pagination_steal{
  margin: 30px 0px;
  .navigation.pagination{
    .screen-reader-text{
      display: none;
    }
    .nav-links{
      .page-numbers{
        padding: 8px 15px;
        border: 1px solid var(--primary-bg-color);
        background: #fff;
        color: var(--primary-color);
        display: inline-block;
        &.current{
          background: var(--primary-bg-color);
          color: #fff;
        }
        &:hover{
          background: var(--primary-bg-color);
          color: #fff;
        }
      }
    }
  }
}
